<!DOCTYPE html>
<html>
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<link rel="stylesheet" rel="text/css" href="../resources/css/style.css">

</html>

<body>
    <nav>
        <h1 class="logo"><a href="/">LAB(<span class="color">SE</span>);</a></h1>
        <div>
            <a href="/notice">notice</a>
            <a href="/members">members</a>
            <a href="/research">research</a>
            <a href="/publications">publications</a>
            <a href="/courses">courses</a>
            <% if(logined) { %>
            <a class="login"><%= user_name %> 님</a>
            <% } else { %>
            <a href="login" class="login">login</a>
            <% } %>
        </div>
    </nav>

    <% if(logined) { %>
        <div class="dropdown none">
            <ul>
                <li><a href="/score">Score</a></li>
                <li><a href="/logout" class="logout">Logout</a></li>
            </ul>
        </div>
    <% } %>

    <section id="courses">
        <h3>COURSES</h3>
        <% if(studentid =="1111111111") { %>
       
            <div >
                <form action="/courses" method="post" enctype="multipart/form-data">
                    <select  name= "courses">
                    <option value = "" selected> -- 선택 --</option>
                    <option value ="CSE107">CSE107</option>
                    <option value ="CSE117">CSE117</option>
                    <option value ="CSE322">CSE322</option>
                    <option value ="CSE326">CSE326</option>
                    <option value ="CSE406">CSE406</option>
                    <option value ="CSE870">CSE870</option>
                    <option value ="CSE603">CSE603</option>
                    <option value ="CSE609">CSE609</option>
                    <option value ="CSE639">CSE639</option>
                    <option value ="CSE6050">CSE6050</option>
                    </select>
                    <input type="file" name="profile">
                    <input type="submit" value="Submit">
    
                </form>
            </div>
            <% } %>
        <hr>
        <div>
            <table class="course_left">
                <tbody>
                    <tr>
                        <th class="coursename" colspan="2">Undergraduate Courses</th>
                    </tr>
                    <tr class="courseli">
                        <td>CSE107</td>
                        <td>Logical Fundamentals of Programming</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE117</td>
                        <td>Programming Fundamentals</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE322</td>
                        <td>Web Programming</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE326</td>
                        <td>Web Application Development</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE406</td>
                        <td>Software Engineering</td>
                    </tr>
                </tbody>
            </table>
            <div class="overflow">
                <table class="course_right">
                    <tbody>
                        <tr>
                            <th>2019-2</th>
                            <th>2019-1</th>
                            <th>2018-1</th>
                            <th>2017-2</th>
                            <th>2017-1</th>
                            <th>2016-2</th>
                            <th>2016-1</th>
                            <th>2015-2</th>
                            <th>2015-1</th>
                            <th>2014-2</th>
                            <th>2014-1</th>
                            <th>2013-2</th>
                            <th>2013-1</th>
                            <th>2012-2</th>
                            <th>2012-1</th>
                            <th>2011-2</th>
                            <th>2011-1</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <table class="course_left">
                <tbody>
                    <tr>
                        <th class="coursename" colspan="2">Postgraduate Courses</th>
                    </tr>
                    <tr class="courseli">
                        <td>CIN870</td>
                        <td>Formal Methods</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE603</td>
                        <td>Management of Semistructured Data</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE609</td>
                        <td>Model Checking</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE639</td>
                        <td>Special Topics in Software Engineering</td>
                    </tr>
                    <tr class="courseli">
                        <td>CSE6050</td>
                        <td>Advanced Software Engineering</td>
                    </tr>
                </tbody>
            </table>
            <div class="overflow">
                <table class="course_right">
                    <tbody>
                        <tr>
                            <th>2019-2</th>
                            <th>2019-1</th>
                            <th>2018-1</th>
                            <th>2017-2</th>
                            <th>2017-1</th>
                            <th>2016-2</th>
                            <th>2016-1</th>
                            <th>2015-2</th>
                            <th>2015-1</th>
                            <th>2014-2</th>
                            <th>2014-1</th>
                            <th>2013-2</th>
                            <th>2013-1</th>
                            <th>2012-2</th>
                            <th>2012-1</th>
                            <th>2011-2</th>
                            <th>2011-1</th>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="../resources/js/headerText.js"></script>
</body>